---
layout: default
class: home
---
<main class="site__main">    
    <article class="wrapper">        
        <section class="grid grid--row">
            <div class="col col--1">
                <h5 class="heading--aside">HTML</h5>
            </div>
            <div class="col col--2">
                <ul>
                    {% for post in site.categories['html'] reversed limit: 3 %}
                    <li>
                        <a href="{{ post.url | prepend: site.baseurl }}">
                            <span class="post__title">{{ post.heading--primary }}</span>
                        </a>
                        <ul class="post__tags list--inline list--commas">
                            {% for item in post.tags %}
                                <li>{{ item.tag }}</li>                        
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
                <a href="html{{ prepend: site.baseurl }}" class="btn btn--small btn--secondary">
                    <small>View All</small>
                </a>
            </div>
        </section>
        <section class="grid grid--row">
            <div class="col col--1">
                <h5 class="heading--aside">CSS</h5>
            </div>
            <div class="col col--2">
                <ul>
                    {% for post in site.categories['css'] reversed limit: 3 %}
                    <li>
                        <a href="{{ post.url | prepend: site.baseurl }}">
                            <span class="post__title">{{ post.heading--primary }}</span>
                        </a>
                        <ul class="post__tags list--inline list--commas">
                            {% for item in post.tags %}
                                <li>{{ item.tag }}</li>                        
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
                <a href="css{{ prepend: site.baseurl }}" class="btn btn--small btn--secondary">
                    <small>View All</small>
                </a>
            </div>
        </section>
        <section class="grid grid--row">
            <div class="col col--1">
                <h5 class="heading--aside">Exercises</h5>
            </div>
            <div class="col col--2">
                <ul>
                    {% for post in site.categories['practicalexercises'] reversed limit: 3 %}
                    <li>
                        <a href="{{ post.url | prepend: site.baseurl }}">
                            <span class="post__title">{{ post.heading--primary }}</span>
                        </a>
                        <ul class="post__tags list--inline list--commas">
                            {% for item in post.tags %}
                                <li>{{ item.tag }}</li>                        
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
                <a href="exercise{{ prepend: site.baseurl }}" class="btn btn--small btn--secondary">
                    <small>View All</small>
                </a>
            </div>
        </section>
    </article>
</main>