<footer class="site__footer">
    <div class="wrapper">
        <article class="grid">
            <section class="col col--half">
                <h5>Contact</h5>
                <ul>
                    <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                </ul>
            </section>
            <section class="col col--half">
                <h5>Colophon</h5>
                <p>Descriptive information should go here</p>
                <p>&copy; 2015</p>
            </section>
        </article>
    </div>
</footer>